<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--NLog日志记录配置-->
  <configSections>
  </configSections>
  <appSettings>
    <add key="ThrowExceptionToClient" value="true"/>
    <add key="CN.BCB" value="SQLDAL.dll,SQLDAL.SqlDataAccess,SQLCommand" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxUrlLength="99999" maxQueryStringLength="2097150" requestPathInvalidCharacters="" />
    <authentication mode="None" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="ServiceHost.SRMDataService" behaviorConfiguration="RESTBehaviour">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="ServiceHost.ISRMDataService"
                  behaviorConfiguration="webHttp"/>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="CustomNetTcpBinding" maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
      <basicHttpBinding >
        <binding name="ServiceSoap" textEncoding="utf-8" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed"
        closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:10:00" >
          <security mode="None" />
        </binding>
        <binding closeTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RESTBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>          
        </behavior>

        <behavior>
          <serviceMetadata httpGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
        </behavior>
        
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0">
      <serviceActivations>
        <add relativeAddress="BLLBaseService.svc" service="Services.BLLBaseService" />
        <add relativeAddress="SecurityService.svc" service="Services.Security.SecurityService" />
      </serviceActivations>
    </serviceHostingEnvironment>
    
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2097150"/>
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
